/* Reset */
* { margin:0;	padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;	box-sizing:border-box; }
h1,h2,h3,h4,h5,h6,p {	margin-bottom:10px; }
ol,ul,dl {	list-style-position:inside; }

/* Standard selectors */
body {	width:900px; margin:auto; height:100%; overflow:hidden;	background-color:#eee; font-size:125%; }
section {	position:relative; top:2em; left:2em; bottom:2em; right:2em; margin:1em; font-size:.8em; }
a:enabled[href], input:enabled[type=checkbox], button:enabled { cursor:pointer; }
button  { margin-left:.2em; }
button.login, .register, .goToLoginPage { width:5em; margin-top:.5em; }
/* button.login, .register  { disabled:disabled; } */

div.left { float:left; width:49%}
p.app-title { font-size:2em; font-weight:bold; }
label.labelShowHistory { font-size:.8em; }
button { width:4em; height:1.5em; }
h1 {	margin-top:.5em; position:relative; border-top:solid 1px #ccc; width:10%; height:1px; }
#labelEmail, #labelPassword, #labelRememberMe { margin-left:.5em; }
#labelLoginPageErrorMessage, #cbRememberMe, #labelRememberMe { display:inline-block; margin-top:.5em; }
#labelLoginPageErrorMessage { color:red; }

div.right { float:right; width:49%}
section.photos { height:10em; }
img { height:10em; }
#about-heading { font-weight:bold; }
section.about p { width:20em; }
#app-todos-heading { font-weight:bold; }
section.about li { font-weight:regular; }
p.email { color:blue; }