/* Reset */
* { margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;	box-sizing:border-box; }
h1,h2,h3,h4,h5,h6,p { margin-bottom:10px; }
ol,ul,dl { margin-left:.5em; }

body { width:900px; margin:auto; height:100%; overflow:hidden;	background-color:#eee; font-size:125%; }
section { position:relative; top:2em; left:2em; bottom:2em; right:2em; margin:1em; font-size:.8em; }

a:enabled[href], input:enabled[type=checkbox], button:enabled, .icon-delete { cursor:pointer; }
label { vertical-align:top; }
#labelOr { vertical-align:bottom; }
button { margin-left:.2em; width:3em; height:1.5em; line-height:1em; }
button.login, .register, #buttonLogout, .goToLoginPage { width:8em; margin-top:.5em; }
button.buttonFooter { width:8em; margin: .3em .2em; }

div.left { float:left; width:49%}
p.app-title { font-size:1.5em; font-weight:bold; }
label.labelShowHistory { font-size:.8em; }
h1 { margin-top:.5em; position:relative; border-top:solid 1px #ccc; width:10%; height:1px; }
#labelEmail, #labelPassword, #labelRememberMe, #labelNumTodos { margin-left:.5em; }
#labelLoginPageErrorMessage, #cbRememberMe, #labelRememberMe { display:inline-block; margin-top:.5em; }
#cbRememberMe { margin-top: .9em; }
#labelLoginPageErrorMessage { color:red; }
.icon-delete, .ui-icon, .ui-icon-circle-close { display:inline-block; }
#cbTodo { margin-left:.5em; }
.ui-icon { background-image:url(../img/jquery-ui/ui-icons_a9a9a9_256x240.png)}
.todos { margin-left:2em; }
#divStickyNote { width:27em; height:30em; }

div.right { float:right; width:49%}
section.photos { height:10em; }
img { height:10em; }
#about-heading { font-weight:bold; }
section.about p { width:20em; }
#app-todos-heading { font-weight:bold; }
section.about li { font-weight:regular; }
p.email, p#pGitHub { color:blue; }

div.divFooter { clear:both; padding-top:.5em; }
section#sectionFooter { background-color:#aaa; /*top:0em;*/}
#pFeaturesHeading, #pStoryBoardHeading, #pTechStackHeading { font-weight:bold; }
.buttonFooterActive { color:#fff; background:#777; }
.buttonHover:not(.buttonFooterActive) { background:#abc } /* intended to work only if element is a button but not currently active (e.g. footer button) */

/* media queries */
@media screen and (max-width:600px) {
	html, body { height:100%; }
	body { width:100%; }	
	section {  }
	div.left { width:100%;}
	div.right { display:none; }
	div.divFooter { width:8em; margin:2em; }
	button.buttonFooter { margin:.5em .5em; }
	#divStickyNote { height:40em; }
}